.header {
    position: fixed;
    display: inline-flex;
    width: 100%;
    height: 3em;
    font-family: Cambria;
    background: var(--color-bg-header);
    color: var(--color-white);
    z-index: 999;
    font-size: 18px;
}

.logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h2 {
    font-size: 1.5em;
}

.task_search{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task_search{
    width: 80%;
    height: 50%;
    font-size: 1em;
}

.results_search{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 50%;
    background: white;
    top: 100%;
    left: 25%;
    border: 1px solid;
    color: black;
}

#result{
    font-size: 1.2em;
    color: black;
    
}

.menu {
    flex: 1;
    display: inline-flex;
}

.menu-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.menu-item .item-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-white);
}

.menu-item:hover {
    background: var(--color-white);
}

.item-header {
}

.menu-item:hover .item-header {
    color: var(--color-bg-header);
}

#fix-hover:hover .list-categories{
    display: block;
}

.list-categories{
    display: none;
    position: absolute;
    top: 100%;
    width: 100px;
    background: var(--color-bg-header);
}

.item_categories {
    display:block;
    margin: 0.5em;
    font-family: sans-serif;
    font-size: 0.8em;
    color: var(--color-white);
}

.item_categories:hover
{
    color:mediumpurple;
}
